@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200&family=Raleway:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html,body{
    transition: .2s ease;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* navbar styles */
.navbar{
    padding: 30px;
    margin: 10px 0;
    background: #fff;
    box-shadow: 0 0 10px 10px #333;
}
.logo{
    font-size: 20px;
    color: red;
}
/* navbar styles finish */

/* searchBox styles*/
.searchBox{
    padding: 10px;
    width: 98%!important;
    margin: auto;

}
.form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.search,.select{
    padding: 10px 15px;
    font-size: 16px;
}
.select{
    width: 20%;
}
.search{
    width: 37%;
}
/* searchBox styles finsih */

/* country-wrapper styles */
.country-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    height: auto;
}
.country-wrapper > .country-item {
    width: 300px;
    height: 350px;
    box-shadow: 0 0 5px 5px #000016;
    padding: 10px;
    border: 1px solid black;
    margin: 20px 0;
}
.country-item:hover{
    background: #000016;
    color: #fff;
}
.countryName{
    font-size: 20px;
}
.country-img{
    width: 100%;
    height: 200px;
}
/* country-wrapper styles finish */

/* modal wrapper styles */
.wrapper-item{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 0;
    left: 0;
    background: #000016;
    color: #fff;
    top: -1000000000000%;
}
.wrapper-item.active{
    top: 0;
}
.count{
    font-size: 20px;
    font-weight: bold;
}
.wrapper-inco{
    width: 40%;
    font-weight: 500!important;
}
.country-imgs{
    width: 40%;
    height: 500px;
}
.cancel-btn{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 25px;
    cursor: pointer;
}
/* modal wrapper styles  finish*/

@media screen and (max-width: 450px) {
    .wrapper-item .country-imgs{
        width: 300px;
        height: 300px;
    }
    .country-item{
        margin:20px auto!important;
    }
 }

@media screen and (max-width:768px) {
    html,body{
        overflow-x: hidden;
    }
    form{
        flex-direction: column;
    }
    .search{
        width: 100%!important;
        display: block;
        margin: 10px 0;
    }
    .select{
        width: 100%;
    }
    .wrapper-item{
        justify-content: center;
        align-items: center;
    }
    .wrapper-item > div {
        width: 60%;
    }
   .country-imgs img {
       height: 50%;
   }
}
